

/* BASIC */

img {
    width: 100%;
}

.canvas-container {
    background-color: #383b42;
    margin: 0 auto;
    width: 90vw;
    height: 90vh;
}

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
}

.my-galery {
    display:grid;
    margin-bottom: 35;
    width: 200px;
    height: 200px;
}


/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
