* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: poppinsR;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsM;
    src: url(/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsL;
    src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsSB;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

/* BASIC */

html {
    font-family: poppinsM, sans-serif;
    color: #ffffff;
    line-height: 1.2;
}

body {
    margin: 0;
    font-size: 1.3125rem;
    background-image: linear-gradient(to right, #f64f8b, #f88558);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* LAYOUT */

.main-layout {
    max-width: 1257px;
    margin: 0 auto;
}

/* COMPONENTS */

/* main header */

.main-header {
    height: 75px;
    border-radius: 3em;
    background-image: linear-gradient(to right, #0c98b9, #33be6d);
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-header .logo {
    text-transform: uppercase;
    margin-inline-start: 80px;
}

/* main nav */

.main-nav > :last-child {
    margin-inline-end: 246px;
}

.main-nav > *:not(:last-child) {
    margin-inline-end: 65px;
}

.main-nav .gallery {
    border-radius: 3em;
    background-color: #fefefe;
    color: #21ac91;
    cursor: not-allowed;
    padding: px 20px;
}

.main-nav .about {
    cursor: not-allowed;
}

/* main content */

.main-content {
    border-radius: 10px;
    background-image: linear-gradient(to right, #383b42, #383b42);
}

/* editor */

.editor-container {
    gap: 100px;
    padding-left: 120px;
    padding-top: 50px;
}

.right-side {
    gap: 30px;
}
.right-side .my-input {
    background-color: #ebeef3;
    border-radius: 28px;
    width: 450px;
    padding: 10px;
    font-family: poppinsM;
    font-size: 1.57rem;
    color: #3d3d3d;
}

.right-side .buttons-container {
    background-color: #19a59f;
    border-radius: 5px;
    padding: 20px;
}

.button {
    background-color: #ffffff;
    font-family: poppinsSB;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.switch-line {
    cursor: not-allowed;
    background-color: yellow;
    color: blue;
}

/* Gallery */

.main-content .card {
    padding: 67px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.card-image {
    border-radius: 10px;
    cursor: pointer;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-raw {
    display: flex;
    flex-direction: row;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-notAllowed {
    cursor: not-allowed;
}

@media (max-width: 1100px) {

    .editor-container {
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .right-side .my-input {
        width: 400px;
    }
    .right-side .buttons-container {
        width: 400px;
    }

    .main-content .card {
        padding: 67px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

}
